<h1>Admin Profile</h1>

<div class="media-object">
    <div class="media-object-section">
        <div class="thumbnail">
            <img src="assets/img/media-object/avatar-1.jpg">
        </div>
    </div>
    <div class="media-object-section">
        <span class="label">
            <a href="/admin/logout">Sign Out</a>
        </span>
    </div>
</div>