<h2>Sign In</h2>
{{#if hasErrors}}
   <div class="alert callout">
    {{# each messages }}
        <p>{{this}}</p>
    {{/each }}
   </div>
{{/if}}
<div class="row admin-signin">
    <div class="small-12 medium-6 large-6 columns">
        <form method="post" action="/admin/signin">
            <div class="input-group">
                <span class="input-group-label" style="margin:0;"><i class="fi-torso"></i></span>
                <input class="input-group-field" type="text" name="email"  placeholder="Username" required>
            </div>

            <div class="input-group">
                <span class="input-group-label" style="margin:0;"><i class="fi-lock"></i></span>
                <input class="input-group-field" type="password" name="password"  placeholder="Password" required>
            </div>
            
            <input type="hidden" name="admin" value="{{ isAdmin }}">
            
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                
            <div class="input-group-button">
                <input type="submit" class="button" value="Submit">
            </div>
        </form>
    </div>
</div>