<section>
    <div class="row">
        <div class="small-12 medium-12 large-9 columns">
            <h2>About Us <small>The <em>Mission</em> is there is no mission</small></h2>
            
        </div>
    </div>
</section>