.v-scroll {
	overflow:scroll;
}	

.products {
    height:80vh;
}

.paragraph {
    width:30vw;
}




img {
    height:170px;
    width:200px;
    padding:0;
    margin:0;
}





::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

