/* Global */
.v-scroll {
	overflow:scroll;
}	

.products {
    height:80vh;
}

.paragraph {
    width:30vw;
}




img {
    height:170px;
    width:200px;
    padding:0;
    margin:0;
}




::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: transparent;
}











/* Contact Page */
.contact {
    margin-top:10%;
}











/* Product Page */
.media-object {
    margin:10px;
}










/* Admin Profile */
.admin-form [type="text"] {
    height:30px;
}

.admin-form [type="submit"] {
    height:30px;
}








/* Admin Sign in Page */
.admin-signin {
    padding:20px;
}