{{#if hasErrors}}
   <div class="alert alert-danger">
    {{# each messages }}
        <p>{{this}}</p>
    {{/each }}
   </div>
{{/if}}

<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        {{# if user}}
            <h4><strong>{{user}} Profile</strong></h4>
        {{else}}
            <h1>User Profile</h1>
        {{/if}}
    </div>
</div>